body {
  background-color: #fff;
}

.category {
  margin: 0 0 12px;
  font-size: 14px;
  font-weight: 700;
  color: blue;
  box-sizing: border-box;
}

.title {
  margin: 0 0 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 36px;
  font-size: 700;
  line-height: 1.2;
  color: rgb(15, 23, 42);
  box-sizing: border-box;
}

.datee {
  margin: 0 0 20px;
  font-size: 14px;
  color: rgb(138, 138, 138);
  box-sizing: border-box;
}

.lead {
  margin: 0;
  font-size: 18px;
  line-height: 1.7;
  color: rgb(51, 65, 85);
  box-sizing: border-box;
}
